<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Customer</title>
</head>
<body>
<h2>Add Customer</h2>
<form action="/addCustomer" method="post" th:object="${customer}">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>

    <button type="submit">Submit</button>
</form>
<a href="/customers">Back to Customer List</a>
</body>
</html>
